/* app css stylesheet */


body{font:14px/1.5 sans-serif; color:#222; padding: 20px;}

ul{width: 40%}

.HomeWork{color: #ad6704;}

.Training{color: #5eb95e;}

.Assessment{color: #b3b3b3;}

.done-true {
    text-decoration: line-through;
    color: grey;
}