<h1>To-Do List</h1>
<br>
<p>{{remaining()}} of {{items.length}} remaining</p>

<div>
    Search:
    <input type="search" ng-model="search">
</div>

<ul>
    <li class="{{item.type}}" ng-repeat="item in items | filter:search">
        <input type="checkbox" ng-model="item.done">
        <span class="done-{{item.done}}">Item:{{item.name}} Type:{{item.type}}</span> <a href="#/item/{{$index}}">Edit</a>
    </li>
</ul>


<input type="text" ng-model="todoText"  size="30" placeholder="add new to-do here">

<select ng-model="currentItem" ng-options="i.name for i in options">
</select>

<input class="btn-primary" type="submit" value="add" ng-click="addTodo()">
<input class="btn-primary" type="submit" value="archive" ng-click="archive()">